*{
    margin: 0;
    padding: 0;
}
.third{
  background-color: aqua;
  height:800px;
  max-width:100%;
}
.recipe-gallery{
  display: flex;
  justify-content: space-around;
}
.description{

}
.recipe{
  margin-top: 20px;
  padding: 5px;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}
.title{
      font-size:50px;
    text-align: center;
}
.first{
    background-color: bisque;
<<<<<<< HEAD
}
img{
  height: 200px;
  width: 200px;
=======
    height: 100px;
    max-width: 100%;
}
.header{
    background-color: rgb(255, 197, 196);
    height: 3rem;
    width: 100%;
>>>>>>> 95668e86a3f032d4c24e204f74b93edaf1bd62cc
}