*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section third */
.third{
  background-color: aqua;
  height:800px;
  max-width:100%;
}
.recipe-gallery{
  display: flex;
  justify-content: space-around;
}
.description{

}
.recipe{
  margin-top: 20px;
  padding: 5px;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}
.title{
      font-size:50px;
    text-align: center;
}
img .image{
  height: 200px;
  width: 200px;
}



/*first section*/

.first{
    background-color: bisque;
    height: 150px;
    width: auto;
}
img {  
    height: 100px;
    max-width: 100%;
}
.header{
    background-color: rgba(255, 197, 196,0.5);
    backdrop-filter: blur(40px);
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    position: fixed;
}
.img{
    height: 50px;
    width: auto;
    margin-left: 1rem;
    
}
.navlist{
    display: flex;
    font-family:sans-serif;
    font-weight: bold;
    font-size: medium;
     gap:2rem;
     list-style-type:none;
}
.navlistbox{
    margin: 1rem;
}


/* .second  */


.second{
  text-align: center;
  /* background-color: grey; */
}

.submit{
  margin-left: 5px;
  margin-bottom: 2px;
  border-color: black;
}
.second h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: green;
}

.second #txt{
    margin-bottom: 10px;
    margin-left: 5px;
}

.second textarea::placeholder{
  color:#999;
  font-style: italic;
}

.second textarea{
  height:50%;
  width:50%;
  padding:10px;
  border:2px solid black;  
  resize: none; 
}

.second textarea:focus{
    border-color:black;
}
.submit:hover{
  background-color: red;
  border-color: black ;
  cursor: pointer;
}



@media(max-width:768px){
    second {
      width: 90%;
      padding: 15px;
  }
  .second h3 {
      font-size: 20px;
  }
  .second .submit {
      font-size: 16px;
  }
}