*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.third{
  background-color: aqua;
  height:800px;
  max-width:100%;
}
.recipe-gallery{
  display: flex;
  justify-content: space-around;
}
.description{

}
.recipe{
  margin-top: 20px;
  padding: 5px;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}
.title{
      font-size:50px;
    text-align: center;
}
.first{
    background-color: bisque;
}
img {  
    height: 100px;
    max-width: 100%;
}
.header{
    background-color: rgb(255, 197, 196);
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.img{
    height: 50px;
    width: auto;
    margin-left: 1rem;
    
}
